{{!A component displaying the answers}}
{{model.question}}  {{model.author}}

<ul class="answers">
  <h1>All the answers</h1>
  {{#each board.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</ul>
