<div class="container-fluid">
<h1>About my-board</h1>
<h3>About Us</h3>
<div class="us">
<p>My-board is a question and answer board web app</p>
<p>My-board app was created by Musab Abdirahman</p>
<p>My-board app was made using Ember Js.</p>
<p>This app was made for users who want to educate themselves more!</p>
</div>

<h1>How to use my-board</h1>
<div class="about">
<p>Using my-board app is really simple!</p>
<p>All you have to do is click a question!</p>
<p>The you will be taken to another page that will allow you to answer the question!</p>
<p>You can also see other people answers!</p>
<p>You can also edit the question!</p>
<p>You can as well add your own question!</p>
</div>

<div class="glad">
<p>More features coming soon!</p>

<p>Thank you for using my-board app!</p>
</div>
</div>

