<h1>Welcome to my question and answer board!</h1><br>
<h2>Answer the following questions:</h2>
<article class="listing">
{{#each model.boards as |board|}}
{{board-tile board=board}}
{{/each}}
</article>
{{add-questions saveQuestion="saveQuestion"}}