{{! Home page route for displaying all the questions}}
<h1>Welcome to my question and answer board!</h1><br>
<h3>Answer the following questions:</h3>
<h4>Click any Question you want!</h4>
<ul class="questions">
{{#each model.boards as |board|}}
<li>{{board-tile board=board}}</li>
{{/each}}
</ul>
{{add-questions saveQuestion="saveQuestion"}}
